<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <title>Chandrika</title>
                <meta name="description" content="">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="apple-touch-icon" href="apple-touch-icon.png">
        
                <link rel="stylesheet" href="css/normalize.min.css">
                <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="js/main.js"></script>
                <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
            </head>
<body>
        <div class="header-container">
                <header class="wrapper clearfix">
                    <h1 class="title">Temperature Convertor</h1>
                    <nav>
                        <ul>
                            <li><a href="home">Home</a></li>
                            <li><a href="calculater">Temperature Convertor</a></li>
                            <li><a href="contact">Contact</a></li>
                            <li><a href="guestbook">guestbook</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
    
            <div style="background-image:url('bg1.jpg')" class="main-container">
                <div class="main wrapper clearfix">
                        <aside>
                                
                            <div style="float:left"> <img src="21557087_991310937675381_509004075_o.jpg" alt="display" class="img-circle"/></div>
                            <div style="float:left"> <ul>
                                     <li>
                                             <a href="https://github.com/ChandrikaMeda"><img alt="GIT" class="icons" src="GIT.jpg" /></a> </li>
                                          <li><a href="https://www.linkedin.com/in/chandrika-meda-09a1b3113/"><img alt="Linkedin" class="icons" src="Linkedin.jpg"/></a></li>
                                             <li><a href="https://bitbucket.org/ChandrikaMeda/"><img class="icons" alt="bit bucket" src="BitBucket.jpg"/></a></li>
                                             <li><a href="https://www.facebook.com/chandrika.meda.3"><img class="icons" alt="facebook" src="facebook.jpg"/></a></li>
                                   </ul> </div>
                                                    
                         </aside>
                         
                         

<h2>Temperature Converter</h2>

<p>Insert a number into one of the input fields below:</p>
<p><input id="c" onkeyup="convert('C')"> Celsius</p>
<p><input id="f" onkeyup="convert('F')"> Fahrenheit</p>
<p><input id="k" onkeyup="convert('K')"> Kelvin </p> 
<p><input id="r" onkeyup="convert('R')"> Rankine</p>
<p><input id="d" onkeyup="convert('D')"> Delisle</p>
<p><input id="n" onkeyup="convert('N')"> Newton</p>

<script>
        function convert(degree) {
    
    var x,y,z,a,b;
    if (degree == "C") {    
        x = convertTOCelcius(document.getElementById("c"));
        y = document.getElementById("c").value+273.15;
        z = (document.getElementById("c").value+273.15) * 9/5;
        a = (100-document.getElementById("c").value)*(3/2);
        b = document.getElementById("c").value * (33/100);
        document.getElementById("f").value = Math.round(x);
        document.getElementById("k").value = Math.round(y);
        document.getElementById("r").value = Math.round(z);
        document.getElementById("d").value = Math.round(a);
        document.getElementById("n").value = Math.round(b);
    } else if(degree == "F"){
        x = (document.getElementById("f").value -32) * 5 / 9;
        y = document.getElementById("f").value+459.67*(5/9);
        z = document.getElementById("f").value+459.67;
        a = 212-document.getElementById("f").value*(5/6);
        b = document.getElementById("f").value-32*(11/60);
        document.getElementById("c").value = Math.round(x);
        document.getElementById("k").value = Math.round(y);
        document.getElementById("r").value = Math.round(z);
        document.getElementById("d").value = Math.round(a);
        document.getElementById("n").value = Math.round(b);
    }
    else if(degree == "K") {
        x = document.getElementById("k").value -273.15 ;
        y = (document.getElementById("k").value * 9/5 )-459.67;
        z = document.getElementById("k").value * 9/5;
        a = (373.15-100-document.getElementById("k").value)*(3/2);
        b = (document.getElementById("k").value - 273.15) * (33/100);
        document.getElementById("c").value = Math.round(x);
        document.getElementById("f").value = Math.round(y);
        document.getElementById("r").value = Math.round(z);
        document.getElementById("d").value = Math.round(a);
        document.getElementById("n").value = Math.round(b);
    }
    else if(degree == "R"){
        x = (document.getElementById("r").value -491.67) * 5/9;
        y = document.getElementById("r").value+459.67;
        z = document.getElementById("r").value * 5/9;
        a = 671.67-document.getElementById("r").value*(5/6);
        b = (document.getElementById("r").value-491.67)* 11/60;
        document.getElementById("c").value = Math.round(x);
        document.getElementById("f").value = Math.round(y);
        document.getElementById("k").value = Math.round(z);
        document.getElementById("d").value = Math.round(a);
        document.getElementById("n").value = Math.round(b);
    }else if(degree == "D"){
        x = (100-document.getElementById("d").value)* 2/3;
        y = (212-document.getElementById("d").value)* 6/5;
        z = (373.15-document.getElementById("d").value) *2/3;
        a = (671.67-document.getElementById("d").value)*(6/5);
        b = (33-document.getElementById("d").value) * (11/50);
        document.getElementById("c").value = Math.round(x);
        document.getElementById("f").value = Math.round(y);
        document.getElementById("k").value = Math.round(z);
        document.getElementById("r").value = Math.round(a);
        document.getElementById("n").value = Math.round(b);
    }else {
        x = document.getElementById("n").value * 100/33;
        y = (document.getElementById("n").value* 60/11)+32;
        z = (document.getElementById("n").value* 100/33) + 273.15;
        a = (document.getElementById("n").value* 60/11) + 491.67;
        b = (33-document.getElementById("n").value )* (50/11);
        document.getElementById("c").value = Math.round(x);
        document.getElementById("f").value = Math.round(y);
        document.getElementById("k").value = Math.round(z);
        document.getElementById("r").value = Math.round(a);
        document.getElementById("d").value = Math.round(b);
    }
}
        </script>


</div> <!-- #main -->
</div> <!-- #main-container -->

<div class="footer-container">
    <footer class="wrapper">
        <h3>Chandrika-S530476@nwmissouri.edu</h3>
    </footer>
</div>

</body>
</html>
