<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chandrika</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Contact</h1>
                <nav>
                    <ul>
                        <li><a href="home">Home</a></li>
                        <li><a href="calculater">Temperature Convertor</a></li>
                        <li><a href="contact">Contact</a></li>
                        <li><a href="guestbook">guestbook</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        

        <div style="background-image:url('bg1.jpg')" class="main-container">
            <div class="main wrapper clearfix">

                <article>
                        <div class="container">
                                <form action="/action_page.php">
                              
                                  <label for="fname">First Name</label>
                                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
                              
                                  <label for="lname">Last Name</label>
                                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                              
                                  <label for="country">Country</label>
                                  <select id="country" name="country">
                                    <option value="usa">USA</option>
                                    <option value="australia">Australia</option>
                                    <option value="canada">Canada</option>
                                    <option value="usa">India</option>
                                    <option value="usa">Germany</option>
                                  </select>
                              
                                  <label for="subject">Subject</label>
                                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:120px"></textarea>
                              
                                  <input type="submit" value="Submit">
                              
                                </form>
                              </div>
                            </article>
                            <aside>
                                    
                                <div style="float:left"> <img src="21557087_991310937675381_509004075_o.jpg" alt="display" class="img-circle"/></div>
                                <div style="float:left"> <ul>
                                         <li>
                                                 <a href="https://github.com/ChandrikaMeda"><img alt="GIT" class="icons" src="GIT.jpg" /></a> </li>
                                              <li><a href="https://www.linkedin.com/in/chandrika-meda-09a1b3113/"><img alt="Linkedin" class="icons" src="Linkedin.jpg"/></a></li>
                                                 <li><a href="https://bitbucket.org/ChandrikaMeda/"><img class="icons" alt="bit bucket" src="BitBucket.jpg"/></a></li>
                                                 <li><a href="https://www.facebook.com/chandrika.meda.3"><img class="icons" alt="facebook" src="facebook.jpg"/></a></li>
                                       </ul> </div>
                                                        
                             </aside>
                                            
                            
                                        </div> <!-- #main -->
                                    </div> <!-- #main-container -->
                            
                                    <div class="footer-container">
                                        <footer class="wrapper">
                                            <h3>Chandrika-S530476@nwmissouri.edu</h3>
                                        </footer>
                                    </div>
                            
                                    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
                                    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
                            
                                    <script src="js/main.js"></script>
                            
                                    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
                                    <script>
                                        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                                        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                                        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                                        e.src='//www.google-analytics.com/analytics.js';
                                        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                                        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
                                    </script>
                                </body>
                            </html>
                            